# Entornos virtuales
.venv/
env/
ENV/
venv/

# Python compilado
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos ocultos y de configuración
.env
*.log
nohup.out
.DS_Store
.vscode/
.idea/

# Archivos de dependencias o instaladores
*.egg-info/
pip-wheel-metadata/
*.whl

# Videos y archivos pesados locales
videos/
*.mp4
*.h5
*.avi
*.mov
*.webm
temp_*

# Archivos del sistema o herramientas externas
*.dbmdl
*.jfm
*.swp

# Node.js (si usaras algo del frontend más adelante)
node_modules/
npm-debug.log

# Docker (mantén el Dockerfile, ignora solo builds sucios)
*.tar