<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Historial de emociones</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="logo">DetectEmotion</div>
        <nav>
            <span id="user-email">
                {{ request.cookies.get('nombre') or request.cookies.get('email') or '' }}
            </span>

            {% set rol = request.cookies.get('rol') %}

            {% if rol == 'ADMIN' %}
            <a href="/admin/usuarios">Administrar</a>
            <a href="/">Inicio</a>
            <a href="/historial">Historial</a>
            {% elif rol == 'TERAPEUTA' %}
            <a href="/">Inicio</a>
            <a href="/historial">Historial</a>
            {% elif rol == 'TERCERO' %}
            <a href="/backup">Backup</a>
            {% else %}
            <!-- sin rol válido solo mostrar login/logout si aplica -->
            {% endif %}

            <a href="/login">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <div class="titulo">
            <h2>Historial de emociones identificadas</h2>
        </div>

        <div class="container">
            <form method="GET" action="/historial" class="filtro-form" id="formFiltros">
                <input type="text" name="nombre" placeholder="Buscar por nombre"
                    value="{{ request.query_params.get('nombre', '') }}">

                <select name="emocion" class="filtro-select">
                    <option value="">Todas las emociones</option>
                    <option value="happy">Feliz</option>
                    <option value="angry">Molesto</option>
                    <option value="sad">Triste</option>
                    <option value="neutral">Neutral</option>
                    <option value="fear">Miedo</option>
                    <option value="disgust">Asco</option>
                    <option value="surprise">Sorpresa</option>
                </select>

                <input type="date" name="fecha" value="{{ request.query_params.get('fecha', '') }}">
                <button type="submit" class="submit-btn btn-ver-modal">Filtrar</button>
            </form>
            <div class="table-wrapper">
                <table class="tabla-historial">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Fecha y hora</th>
                            <th>Archivo</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in historial %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.edad }}</td>
                            <td>{{ item.fecha }} {{ item.hora }}</td>
                            <td>
                                {% if item.tipo == 'video' %}
                                <a href="{{ item.archivo }}" target="_blank">ver video</a>
                                {% elif item.tipo == 'imagen' %}
                                <a href="{{ item.archivo }}" target="_blank">ver imagen</a>
                                {% endif %}
                            </td>
                            <td>
                                <button class="submit-btn btn-ver-modal" data-info='{{ item | tojson | safe }}'>
                                    Ver
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if not historial %}

            <p class="no-result">Sin resultados</p>
            {% endif %}

            <!-- MODAL -->
            <div id="modalResultado" class="modal" style="display:none;">
                <div class="modal-content">
                    <span class="close-btn" onclick="cerrarModal()">&times;</span>
                    <h2>Resultado de la detección</h2>
                    <p><strong>Nombre:</strong> <span id="modalNombre"></span> |
                        <strong>Edad:</strong> <span id="modalEdad"></span>
                    </p>
                    <p><strong>Precision:</strong> <span id="precisionGlobal"></span> |
                        <strong>Tiempo proc.</strong> <span id="tiempoProcesamiento"></span>
                    </p>
                    <video id="modalVideo" controls width="100%" style="margin-bottom: 20px;">
                        <source id="modalVideoSource" src="" type="video/mp4">
                        Tu navegador no soporta el video.
                    </video>
                    <!-- Imagen -->
                    <div class="modelcontendimagen">
                        <img id="modalImagen" src="" style="max-width:100%;margin-bottom:20px;display:none;" />
                    </div>

                    <!-- Gráfico de línea de tiempo -->
                    <div id="videoExtra" style="display: none;">
                        <h2 style="text-align: center; color: #003459; margin-top: 10px;">Línea de tiempo de emociones
                        </h2>
                        <img id="graficoEmociones" src="" alt="Gráfico de emociones"
                            style="width: 100%; max-height: 250px; object-fit: contain; margin-bottom: 20px;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Emoción</th>
                                    <th>Inicio (s)</th>
                                    <th>Fin (s)</th>
                                </tr>
                            </thead>
                            <tbody id="tablaResultados"></tbody>
                        </table>
                    </div>

                    <!-- Datos extra solo para imagen -->
                    <div class="items-text" id="imagenExtra" style="display:none;">
                        <p><strong>Emoción detectada:</strong> <span id="imgEmocion"></span></p>
                        <p><strong>Precision:</strong> <span id="imgConfianza"></span> |
                            <strong>Tiempo proc.:</strong> <span id="imgTiempo"></span> s
                        </p>
                    </div>

                    <button onclick="cerrarModal()" class="submit-btn">Cerrar</button>
                </div>
            </div>

            <div class="alfinal">
                <form method="GET" action="/exportar_pdf" id="formExportar">
                    <input type="hidden" name="nombre" value="{{ request.query_params.get('nombre', '') }}">
                    <input type="hidden" name="emocion" value="{{ request.query_params.get('emocion', '') }}">
                    <input type="hidden" name="fecha" value="{{ request.query_params.get('fecha', '') }}">
                    <button type="submit" class="btn-exportar">Generar reporte en PDF</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <span>DetectEmotion</span>
        <span></span>
    </footer>



    <script>
        function mostrarModal(data) {
            document.getElementById("modalNombre").innerText = data.nombre;
            document.getElementById("modalEdad").innerText = data.edad;

            const videoTag = document.getElementById("modalVideo");
            const videoSource = document.getElementById("modalVideoSource");
            const imgTag = document.getElementById("modalImagen");
            const grafico = document.getElementById("graficoEmociones");
            const tabla = document.getElementById("tablaResultados");
            const videoExtra = document.getElementById("videoExtra");
            const imagenExtra = document.getElementById("imagenExtra");

            videoTag.style.display = "none";
            imgTag.style.display = "none";
            videoExtra.style.display = "none";
            imagenExtra.style.display = "none";
            tabla.innerHTML = "";

            if (data.tipo === "video") {
                videoTag.style.display = "block";
                videoExtra.style.display = "block";
                videoSource.src = data.archivo;
                videoTag.load();

                //  Mostrar precisión global y tiempo procesamiento
                const precision = data.confianza != null ? Number(data.confianza).toFixed(2) + "%" : "-";
                document.getElementById("precisionGlobal").innerText = precision;

                const tiempo = data.tiempo_procesamiento != null ? Number(data.tiempo_procesamiento).toFixed(2) + " s" : "-";
                document.getElementById("tiempoProcesamiento").innerText = tiempo;

                if (Array.isArray(data.emociones)) {
                    data.emociones.forEach(e => {
                        const fila = document.createElement("tr");
                        fila.innerHTML = `<td>${e.emocion}</td><td>${e.inicio}</td><td>${e.fin}</td>`;
                        tabla.appendChild(fila);
                    });
                }
                if (data.grafico) {
                    grafico.src = "data:image/png;base64," + data.grafico;
                }

            } else if (data.tipo === "imagen") {
                imgTag.style.display = "block";
                imagenExtra.style.display = "block";
                imgTag.src = data.archivo;

                document.getElementById("imgEmocion").innerText = data.emocion ?? '-';
                const conf = (data.confianza != null) ? (Number(data.confianza).toFixed(2) + "%") : "-";
                document.getElementById("imgConfianza").innerText = conf;
                const t = (data.tiempo_procesamiento != null) ? Number(data.tiempo_procesamiento).toFixed(2) : "-";
                document.getElementById("imgTiempo").innerText = t;
            }

            document.getElementById("modalResultado").style.display = "block";
        }

        function cerrarModal() {
            document.getElementById("modalResultado").style.display = "none";
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".btn-ver-modal").forEach(btn => {
                btn.addEventListener("click", () => {
                    const data = JSON.parse(btn.dataset.info);
                    mostrarModal(data);
                });
            });
        });

    </script>
</body>

</html>